<div>
    <div class="home-button padding15_lr" data-target=".navbar">
        <!---->

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-offset-1 col-lg-3">
                <button type="button" class="btn btn-lg btn-block btn-custom" style="margin-bottom: 5%; color: white" ng-click="gotoUrgent();">I need urgent assistance</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-offset-1 col-lg-3">
                <button type="button" class="btn btn-lg btn-block btn-custom" style="margin-bottom: 5%; color: white" ng-click="gotoFR();">Find resources for me</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-offset-1 col-lg-3">
                <button type="button" class="btn btn-lg btn-block btn-custom" style="margin-bottom: 5%; color: white" ng-click="gotoFR();">Find resources for a family</button>
            </div>

        </div>
    </div>
    <!--<nav class="navbar navbar-inverse navbar-fixed-bottom text-center">
        <ul class="nav navbar-nav">

            <li><a href="#urgentassistance">I NEED URGENT ASSISTANCE</a></li>
            <li><a href="#/FR">FIND RESOURCES FOR ME</a></li>
            <li><a href="#findresourcesfamily">FIND RESOURCES FOR A FAMILY</a></li>

        </ul>
    </nav>-->
    <section id="home" class="text-primary text-center img-responsive ">
        <h1 class="text-black">Resources4U</h1>
        <p class="text-black lead">App to help those in need...</p>

        <!--<div class="spinner">
            <div class="curve_top_left"></div>
            <div class="curve_bottom_right"></div>
            <div class="curve_top_right"></div>
            <div class="curve_bottom_left"></div>
            <div class="center_circle"></div>
        </div>-->
    </section>
    <div class="alert-warning navbar-fixed-bottom text-center">
        <br />
        <i class="glyphicon glyphicon-sort"> <span><a href="#">Directions</a></span></i>&nbsp;&nbsp;
        <i class="glyphicon glyphicon-earphone"><span> <a href="tel:18004181447">Contact</a></span></i> &nbsp;&nbsp;
        <i class="glyphicon glyphicon-grain"><span> <a href="#">Eligibility</a></span></i>
    </div>
</div>

